:root {
    --font-size: 12pt;
    --font-family: Arial, sans-serif;
    --button-height: 32px;
    --button-background: #c8dce0;
    --button-border: 1px solid gray;
    --button-border-radius: 3px;
    --button-color: #2c3e50;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 20px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

#alarms {
    display: flex;
    /* only way to ensure a stable layout */
    width: 270px;
}

ul:not(:empty) {
    border: #929292 solid 1px;
    list-style-type: none;
    margin: 0 auto 0 0;
    padding: 15px 20px 15px 15px;
}

/*noinspection CssUnknownTarget*/
li.positive {
    background-image: url("/static/gui/images/green.svg")
}

/*noinspection CssUnknownTarget*/
li.negative {
    background-image: url("/static/gui/images/red.svg")
}

li {
    font-size: 12pt;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 25px;
    margin-bottom: 7px;
}

#alarms > li > img {
    width: 10px;
    height: 10px;
}

#controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: baseline;
    /* prevent vertical expansion when the alarm list is not empty */
    margin-bottom: auto;
    margin-left: 30px;
}

img.tip {
    align-self: center;
}

input[type="text"], #page {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

input[type="text"]:invalid, input[type="text"].invalid, input[type="text"].invalid:focus-visible {
    border: solid #e32424 2px;
    background: rgba(255, 137, 137, 0.18);
    /* browser presets include a black outline when in focus, even if invalid */
    outline: unset;
}

input[type="radio"]:not(:first-of-type) {
    margin-left: 10px;
}

input[type="radio"]:first-of-type {
    margin-left: 0;
}

#current {
    height: var(--button-height);
    font-size: 12pt;
    margin-bottom: 10px;
    background: var(--button-background);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
}

#error {
    font-weight: bold;
    color: #ce0000;
}

input[disabled], input:invalid ~ button {
    opacity: 1;
    /* this disables the button as good as button.disabled = true in JS */
    pointer-events: none;
    /* copied from the MS Edge user agent stylesheet for button:disabled */
    color: rgba(16, 16, 16, 0.3) !important;
    background-color: rgba(239, 239, 239, 0.3) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
}

#paginator, #controls > label[for="paginator"] {
    align-self: center;
}

#paginator, #outcomes {
    display: flex;
    flex-direction: row;
}

#paginator > input, #page {
    height: var(--button-height);
    padding: 0 7px;
    margin-right: 6px;
    border: var(--button-border);
    color: var(--button-color);
    font-size: var(--font-size);
}

#page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: default;
    border: 0;
}

#paginator > input[type="image"] {
    width: var(--button-height);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    user-select: none;
    background: var(--button-background);
}
