:host {
    display: flex;
    /* only way to ensure a stable layout */
    width: 270px;
}

ul:not(:empty) {
    border: #929292 solid 1px;
    list-style-type: none;
    margin: 0 auto 0 0;
    padding: 15px 20px 15px 15px;
}

li.positive {
    /*noinspection CssUnresolvedCustomProperty*/
    background-image: var(--positive-image)
}

li.negative {
    /*noinspection CssUnresolvedCustomProperty*/
    background-image: var(--negative-image)
}

li {
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 25px;
    margin-bottom: 7px;
}

#alarms > li > img {
    width: 10px;
    height: 10px;
}
