:host {
    font-size: 12pt;
    --button-height: 32px;
    --button-background: #c8dce0;
    --button-border: 1px solid gray;
    --button-border-radius: 3px;
    --button-color: #2c3e50;
}

#controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: baseline;
    /* prevent vertical expansion when the alarm list is not empty */
    margin-bottom: auto;
    margin-left: 30px;
}

img.tip {
    align-self: center;
}

input[type="text"]:invalid, input[type="text"].invalid, input[type="text"].invalid:focus-visible {
    border: solid #e32424 2px;
    background: rgba(255, 137, 137, 0.18);
    /* browser presets include a black outline when in focus, even if invalid */
    outline: unset;
}

input[type="radio"]:not(:first-of-type) {
    margin-left: 10px;
}

input[type="radio"]:first-of-type {
    margin-left: 0;
}

input[type="text"] {
    font-size: 12pt;
    cursor: default;
}

#current {
    height: var(--button-height);
    font-size: 12pt;
    margin-bottom: 10px;
    background: var(--button-background);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
}

#error {
    font-weight: bold;
    color: #ce0000;
}

input[disabled], input:invalid ~ button {
    opacity: 1;
    /* this disables the button as good as button.disabled = true in JS */
    pointer-events: none;
    /* copied from the MS Edge user agent stylesheet for button:disabled */
    color: rgba(16, 16, 16, 0.3) !important;
    background-color: rgba(239, 239, 239, 0.3) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
}

#paginator, #controls > label[for="paginator"] {
    align-self: center;
}

#paginator, #outcomes {
    display: flex;
    flex-direction: row;
}

#paginator > input {
    height: var(--button-height);
    padding: 0 7px;
    margin-right: 6px;
    border: var(--button-border);
    color: var(--button-color);
}

#paginator > input[type="text"] {
    width: 50px;
    text-align: center;
    font-size: 12pt;
}

#paginator > input[type="image"] {
    width: var(--button-height);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    user-select: none;
    background: var(--button-background);
}
